<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>loginMobileViewBackgroundColor</key>
		<string>#cacaca</string>
		<key>navgationBarTintColor</key>
		<string>#707070</string>
		<key>enterTouTiaoTextColors</key>
		<string>#929292</string>
		<key>enterTouTiaoBackgroundColors</key>
		<string>#5c3d3d</string>
		<key>tabbarTintColor</key>
		<string>#925657</string>
		<key>viewBackgroundColors</key>
		<string>#1b1b1b</string>
		<key>separatorViewColor</key>
		<string>#707070</string>
		<key>cellRightTextColor</key>
		<string>#707070</string>
		<key>cellBackfroundColor</key>
		<string>#252525</string>
		<key>black</key>
		<string>#707070</string>
		<key>moreLoginTextColor</key>
		<string>#707070</string>
		<key>moreLoginBackgroundColor</key>
		<string>#252525</string>
	</dict>
	<key>images</key>
	<dict>
		<key>moreLoginMailButton</key>
		<string>mailbox_sdk_login_night_40x40_</string>
		<key>moreLoginTianyiButton</key>
		<string>tianyi_sdk_login_night_40x40_</string>
		<key>moreLoginQQButton</key>
		<string>qq_sdk_login_night_40x40_</string>
		<key>moreLoginWechatButton</key>
		<string>weixin_sdk_login_night_40x40_</string>
		<key>loginClosedButtonImage</key>
		<string>close_sdk_login_night_14x14_</string>
		<key>loginReadButtonSelected</key>
		<string>details_choose_ok_icon_night_15x15_</string>
		<key>loginReadButton</key>
		<string>details_choose_icon_night_15x15_</string>
		<key>publishButtonBackgroundSelectedImage</key>
		<string>feed_publish_press_night_44x44_</string>
		<key>publishButtonBackgroundImage</key>
		<string>feed_publish_night_44x44_</string>
		<key>cellRightArrow</key>
		<string>setting_rightarrow_night_8x14_</string>
		<key>dayOrNightButton</key>
		<string>dayicon_profile_night_24x24_</string>
		<key>mineHistoryButton</key>
		<string>history_profile_night_24x24_</string>
		<key>mineFavoriteButton</key>
		<string>favoriteicon_profile_night_24x24_</string>
		<key>loginSinaButton</key>
		<string>sinaicon_login_profile_night_66x66_</string>
		<key>loginQQButton</key>
		<string>qqicon_login_profile_night_66x66_</string>
		<key>loginWechatButton</key>
		<string>weixinicon_login_profile_night_66x66_</string>
		<key>loginMobileButton</key>
		<string>cellphoneicon_login_profile_night_66x66_</string>
	</dict>
</dict>
</plist>
